#board {
    position:fixed;
    left:calc(50vw - min(40vh,40vw));
    top:calc(50vh - min(40vh,40vw));
}

.pawn {
    height: min(6vw,6vh);
    width: min(6vw,6vh);
    border-radius: min(4vw,4vh);
    outline-width: min(1vw,1vh);
    outline-style: solid;
    opacity: 1;
    transition: top 500ms ease-in-out,left 500ms ease-in-out,opacity 500ms linear;
}

.white {
    background-color: white;
    outline-color:grey;
}

.black {
    background-color: black;
    outline-color:rgb(50,50,50);
}

.bar {
    background-color: grey;
    border-radius: min(1vw,1vh);
    pointer-events: none;
}