* {
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

dialog {
    
    background-color: blanchedalmond;
    border-radius: 5vmin;
    border:1vmin solid darkgrey;
    outline:none;
}

dialog::backdrop {
    background-color:black;
    opacity:0.5;
}

#board {
    position:fixed;
    left:calc(50vw - 40vmin);
    top:calc(50vh - 40vmin);
}

#whiteTab {
    background-color: white;
    border-top:1vmin solid grey;
    border-left:1vmin solid grey;
    
    bottom:0;
    right:0;
}

#blackTab {
    top:0;
    left:0;
    
    background-color: black;
    border-top:1vmin solid grey;
    border-left:1vmin solid grey;
    color:white;
    transform: rotate(180deg);
}

#howTo {
    width:80vmin;
    height:80vmin;
    opacity:0;
    transform:translate(0,10vmin);
    font-size: 3vmin;
    padding-top:0;
    transition:opacity 250ms linear,transform 250ms linear;
    overflow: hidden;
}

#howTo > * {
    margin-top:2vmin;
    margin-bottom:2vmin;
}



.closeBtn {
    height:5vmin;
    background-color:burlywood;
    border:0.5vmin solid chocolate;
    outline:none;
    border-radius:5vmin;
    font-size:3vmin;
}

#closeHowTo {
    
    margin-top:0;
    width:calc(100% - 35vmin);
}

#playAgain {
    margin:4vmin;
}


#dontShowSpan {
    display:inline;
    
}

#dontShow {
    width:2.5vmin;
    height:2.5vmin;
    vertical-align: baseline;
    margin:1vmin;
    accent-color: burlywood;
}


#acts {
    position:fixed;
    top:0;
    right:0;
    height:0;
    width:100%;
    overflow:hidden;
    pointer-events: none;
    transition:height 500ms ease;
}



#closeOpt {
    top:0;
    background-color: antiquewhite;
}

#restartOpt {
    top:10vmin;
    background-color: bisque;
}

#helpOpt {
    top:20vmin;
    background-color: burlywood;
}

#aboutOpt {
    top:30vmin;
    background-color: #7b3f00ff;
}

#aboutOpt .optLabel {
    color:white;
}


body:has(#acts.canCloseHover):has(#menuBtn:hover) #closeOpt {
    width:40vmin;
}

#menuBtn {
    
    width:10vmin;
    height:10vmin;
    position:fixed;
    top:0;
    right:0;
    pointer-events: all;
}

body.stop-transition * {
    transition:none !important;
}

.option {
    width:10vmin;
    height:10vmin;
    position:absolute;
    pointer-events: all;
    right:0;
    display:inline-block;
    overflow:hidden;
    transition:width 250ms ease;
}
.option:hover {
    width:40vmin;
}

.optBtn {
    width:10vmin;
    height:10vmin;
    position:absolute;
    top:0;
    right:0;
    pointer-events: all;
}

.optLabel {
    position:absolute;
    top:0;
    width:auto;
    text-wrap: nowrap;
    right:10vmin;
    font-size: 4vmin;
    margin:3vmin;
    display:inline-block;
}


.turn {
    position:absolute;
    font-size: 7vmin;
    right:5vmin;
    bottom:0.5vmin;
    text-wrap: nowrap;
    margin:0;
}

.tab {
    
    width:0;
    height:9vmin;
    position:fixed;
    border-top-left-radius: 5vmin;
    overflow: hidden;
    transition: width 250ms ease-in-out;
}



.pawn {
    
    height: 6vmin;
    width: 6vmin;
    border-radius: 4vmin;
    border-width: 1vmin;
    border-style: solid;
    opacity: 1;
    transition: top 500ms ease-in-out,left 500ms ease-in-out,opacity 500ms linear;
}

.white {
    background-color: white;
    border-color:grey;
}

.black {
    background-color: black;
    border-color:rgb(50,50,50);
}

.bar {
    background-color: grey;
    border-radius: 1vmin;
    pointer-events: none;
}

.box {
    position:absolute;
    width:10vmin;
    height:10vmin;
}

.even {
    background-color: bisque;
}

.odd {
    background-color: burlywood;
}

@media (hover: none) {
    .option {
        width:40vmin;
    }
}